.child10 {
  position: absolute;
  top: 684px;
  left: 0;
  width: 1873px;
  height: 604px;
}
.image-pq7upya-1721757405044-r-icon {
  position: absolute;
  top: 2318px;
  left: -1px;
  width: 1873px;
  height: 571px;
  object-fit: cover;
}
.flag-cornerstone-ball-cob-rtc-icon1 {
  position: absolute;
  top: 0;
  left: calc(50% - 199.5px);
  width: 400px;
  height: 266.7px;
  overflow: hidden;
  object-fit: cover;
}
.link13 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 331.5px;
}
.container13 {
  position: absolute;
  width: calc(100% - 1520px);
  top: 847px;
  right: 1210px;
  left: 310px;
  border-radius: var(--br-9xs);
  height: 339.5px;
  overflow: hidden;
}
.aecd7-adc5-4bd0-bc7b-03ee81247-icon1 {
  position: absolute;
  top: -21.7px;
  left: -11px;
  width: 411px;
  height: 288px;
  object-fit: cover;
}
.container14,
.container15 {
  position: absolute;
  width: calc(100% - 1520px);
  top: 847px;
  right: 760px;
  left: 760px;
  border-radius: var(--br-9xs);
  height: 339.5px;
  overflow: hidden;
}
.container15 {
  right: 310px;
  left: 1210px;
}
.a-glimpse-of1 {
  position: absolute;
  top: 742px;
  left: calc(50% - 327.5px);
  line-height: 17.6px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 653px;
  height: 51px;
}
.dbba-c419-4517-ac93-daa322cde1-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1873px;
  height: 684px;
  object-fit: cover;
}
.heading-21 {
  position: absolute;
  top: 1461px;
  left: 609px;
  font-size: var(--font-size-5xl);
  line-height: 24px;
  font-weight: 600;
  text-align: left;
  display: flex;
  align-items: center;
  width: 404px;
  height: 24px;
}
.a-warm-and1 {
  margin: 0;
}
.a-warm-and-container3 {
  width: 100%;
}
.a-warm-and-container2 {
  position: absolute;
  top: 1767px;
  left: calc(50% - 327.5px);
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-open-sans);
  text-align: left;
  display: flex;
  align-items: center;
  width: 719px;
  height: 48px;
}
.child11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1873px;
  height: 128px;
}
.item-link40 {
  position: absolute;
  top: 15px;
  left: calc(50% - 536.5px);
  line-height: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34.1px;
  height: 13px;
  cursor: pointer;
}
.item-link41 {
  left: calc(50% - 336.5px);
  width: 136px;
  cursor: pointer;
}
.item-link41,
.item-link42,
.item-link43,
.item-link44 {
  position: absolute;
  top: 15px;
  line-height: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13px;
}
.item-link42 {
  left: calc(50% - 33.5px);
  width: 79.7px;
  cursor: pointer;
}
.item-link43,
.item-link44 {
  left: calc(50% + 230.3px);
  width: 98.3px;
}
.item-link44 {
  cursor: pointer;
}
.list7 {
  position: absolute;
  width: calc(100% - 810px);
  top: 0;
  right: 405px;
  left: 405px;
  height: 40px;
}
.join-us13 {
  position: absolute;
  top: 11px;
  left: calc(50% - 30.2px);
  line-height: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60.8px;
  height: 13px;
}
.item-link45 {
  position: absolute;
  width: calc(100% - 1732.6px);
  top: 1px;
  right: 363.6px;
  left: 1369px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  height: 35px;
  cursor: pointer;
}
.container16 {
  position: absolute;
  top: 81px;
  left: 0;
  width: 1815px;
  height: 38px;
  font-size: var(--font-size-smi-8);
  color: var(--color-white);
}
.contact-us-email4 {
  margin: 0;
  white-space: pre-wrap;
}
.contact-us-email-container8 {
  position: absolute;
  top: 2890px;
  left: calc(50% - 937.5px);
  font-size: var(--font-size-base-8);
  line-height: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 1873px;
  height: 98px;
}
.div8 {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  height: 2988px;
  overflow-y: auto;
  text-align: center;
  font-size: 45px;
  color: var(--color-black);
  font-family: var(--font-jost);
}