.child8,
.frame-icon10 {
  position: absolute;
  top: 0;
}
.frame-icon10 {
  left: -6px;
  width: 1885px;
  height: 684px;
  overflow: hidden;
  object-fit: cover;
}
.child8 {
  left: 0;
  width: 1873px;
  height: 128px;
}
.item-link36,
.item-link37,
.item-link38,
.item-link39 {
  position: absolute;
  top: 28px;
  left: calc(50% - 502.4px);
  line-height: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34.1px;
  height: 13px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  cursor: pointer;
}
.item-link37,
.item-link38,
.item-link39 {
  left: calc(50% + 328.6px);
  width: 98.3px;
}
.item-link38,
.item-link39 {
  left: calc(50% + 46.2px);
  width: 79.7px;
  transform: rotate(-180deg);
}
.item-link39 {
  top: 24px;
  left: calc(50% - 169.5px);
  width: 145px;
  height: 11px;
}
.container12 {
  position: absolute;
  top: 0;
  left: 74px;
  width: 1815px;
  height: 38px;
}
.frame-icon11,
.frame42,
.frame43 {
  position: absolute;
  overflow: hidden;
}
.frame42 {
  top: 81px;
  left: -8px;
  width: 1889px;
  height: 38px;
}
.frame-icon11,
.frame43 {
  left: -1px;
}
.frame43 {
  top: 1267px;
  background-color: #1c0327;
  width: 1874px;
  height: 1657px;
}
.frame-icon11 {
  top: 1525px;
  width: 1875px;
  height: 1463px;
  object-fit: cover;
}
.child9 {
  position: absolute;
  top: 684px;
  left: 0;
  width: 1873px;
  height: 604px;
}
.thal-emorth-xal {
  margin: 0;
}
.thal-emorth-xal-container1 {
  width: 100%;
}
.thal-emorth-xal-container {
  position: absolute;
  top: 476px;
  left: 50px;
  font-size: 64px;
  line-height: 13px;
  font-weight: 500;
  color: #8c0404;
  display: flex;
  align-items: center;
  width: 1773px;
  height: 1248px;
}
.div7 {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  height: 2988px;
  overflow-y: auto;
  text-align: center;
  font-size: 12.8px;
  color: #fff;
  font-family: Jost;
}
