.step-into-our {
  position: absolute;
  top: 0;
  left: 652px;
  line-height: 61px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 703px;
  height: 632px;
}
.frame23,
.i-am-accepting {
  position: absolute;
  left: -85px;
}
.frame23 {
  top: 1573px;
  width: 1355px;
  height: 632px;
  overflow: hidden;
}
.i-am-accepting {
  top: 2710px;
  font-size: var(--font-size-base);
  line-height: 61px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2043px;
  height: 29px;
}
.contact-us-email3 {
  margin: 0;
  white-space: pre-wrap;
}
.contact-us-email-container7 {
  width: 100%;
}
.contact-us-email-container6 {
  position: absolute;
  top: 0;
  left: calc(50% - 850.5px);
  line-height: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 1816px;
  height: 77px;
}
.frame24 {
  position: absolute;
  top: 2890px;
  left: -79px;
  width: 1969px;
  height: 98px;
  overflow: hidden;
  font-size: var(--font-size-base-8);
}
.frame-child5 {
  position: absolute;
  top: 0;
  left: calc(50% - 604.75px);
  width: 1209.5px;
  height: 266.1px;
}
.blank-line4 {
  margin-block-start: 0;
  margin-block-end: 10px;
  font-size: 10px;
}
.click-here {
  font-size: 100px;
}
.and-unlock-the,
.click-here {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.and-join-us {
  margin: 0;
}
.click-here-and-container {
  position: absolute;
  top: 0;
  left: calc(50% - 431.65px);
  line-height: 54px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 863px;
  height: 211px;
}
.frame25,
.vector-container {
  position: absolute;
  height: 266.1px;
}
.vector-container {
  top: 0;
  left: 415.9px;
  width: 1209.5px;
  cursor: pointer;
}
.frame25 {
  top: 2401px;
  left: -85px;
  width: 1625.4px;
  overflow: hidden;
  font-size: var(--font-size-46xl);
  color: var(--color-white);
}
.openart-image-hjmwfblo-1721757-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1879px;
  height: 686px;
  object-fit: cover;
}
.frame-child6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1878px;
  height: 128px;
}
.join-us4 {
  position: absolute;
  top: 11px;
  left: calc(50% - 30.2px);
  line-height: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60.8px;
  height: 13px;
}
.item-link22 {
  position: absolute;
  width: calc(100% - 1732.6px);
  top: 1px;
  right: 363.6px;
  left: 1369px;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  height: 35px;
  cursor: pointer;
}
.item-link23,
.item-link24 {
  position: absolute;
  top: 15px;
  cursor: pointer;
}
.item-link23 {
  left: calc(50% - 536.5px);
  line-height: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34.1px;
  height: 13px;
}
.item-link24 {
  left: calc(50% - 336.5px);
  width: 136px;
}
.item-link24,
.item-link25,
.item-link26,
.item-link27 {
  line-height: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13px;
}
.item-link25 {
  position: absolute;
  top: 15px;
  left: calc(50% - 33.5px);
  width: 79.7px;
  cursor: pointer;
}
.item-link26,
.item-link27 {
  top: 0;
  left: calc(50% - 49.15px);
  width: 98.3px;
}
.item-link26 {
  position: absolute;
}
.item-link27 {
  cursor: pointer;
}
.frame28,
.item-link27,
.list4 {
  position: absolute;
}
.frame28 {
  top: 15px;
  left: 732.8px;
  width: 98.3px;
  height: 13px;
  overflow: hidden;
}
.list4 {
  width: calc(100% - 810px);
  top: 0;
  right: 405px;
  left: 405px;
  height: 40px;
}
.container9 {
  position: absolute;
  top: 81px;
  left: 5px;
  width: 1815px;
  height: 38px;
  font-size: var(--font-size-smi-8);
  color: var(--color-white);
}
.frame-child7 {
  position: absolute;
  top: 686px;
  left: 6px;
  width: 1873px;
  height: 604px;
}
.join-us10,
.join-us11,
.join-us12,
.join-us5,
.join-us6,
.join-us7,
.join-us8,
.join-us9 {
  position: absolute;
  top: 743px;
  left: calc(50% - 305.5px);
  line-height: 61px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 636px;
  height: 55px;
}
.join-us10,
.join-us11,
.join-us12,
.join-us6,
.join-us7,
.join-us8,
.join-us9 {
  top: 667px;
}
.join-us10,
.join-us11,
.join-us12,
.join-us7,
.join-us8,
.join-us9 {
  top: 832px;
}
.join-us10,
.join-us11,
.join-us12,
.join-us8,
.join-us9 {
  top: 924px;
}
.join-us10,
.join-us11,
.join-us12,
.join-us9 {
  top: 1018px;
}
.join-us10,
.join-us11,
.join-us12 {
  top: 1112px;
}
.join-us11,
.join-us12 {
  top: 1185px;
}
.join-us12 {
  top: 1262px;
}
.frame26,
.frame27 {
  position: absolute;
  top: 0;
  left: 80px;
  width: 1879px;
  height: 1443px;
  overflow: hidden;
}
.frame26 {
  left: -85px;
  width: 1959px;
  font-size: var(--font-size-200xl);
  color: var(--color-maroon-100);
}
.div4 {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 2988px;
  overflow-y: auto;
  text-align: center;
  font-size: 32.8px;
  color: var(--color-black);
  font-family: var(--font-jost);
}